body {
    border: 1px solid black;
}

.container {
    width: 80%;
    margin: 0 auto;
    border-radius: 20px;
    overflow: hidden;
}

header {
    background-color: #49d0b0;
    box-sizing: border-box;
    margin: 0px;
    padding: 20px;
    position: relative;
    /* min-height: 350px */
}

.controles {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.informacoes-do-pokemon {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
}

.informacoes-do-pokemon img {
    max-width: 100px;
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    
}

.numero-pokemon {
    /* justify-self: right;
    grid-column: 3; */
    color: white;
    font-size: 20px;
    font-weight: bold;
    justify-self: end;
}

.dados-pokemon h1,
.numero-pokemon {
    color: white;
}

.dados-pokemon h1 {
    margin: 0 0 10px;
    font-size: 32px;
}

.dados-pokemon ul {
    display: flex;
    gap: 8px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.dados-pokemon li {
    background-color: #49d0b0;
    filter: brightness(1.1);
    padding: 5px 10px;
    border-radius: 10px;
    color: white;
}

.abas {
    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
}

.abas li {
    flex: 1;
}

.abas button {
    width: 100%;
    border: none;
    background-color: transparent;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    border-bottom: 2px solid transparent;
    color: #666;
    font-weight: bold;
}

.aba-ativa {
    border-bottom: 2px solid black !important;
}

main {
    background-color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.informacoes-gerais dl {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 10px;
    margin: 0;
    padding: 10px;
}

.breeding dl {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 10px;
    margin: 0;
    padding: 10px;
}

.informacoes-gerais dt,
.breeding dt {
    font-weight: normal;
}

.informacoes-gerais dd,
.breeding dd {
    margin: 0;
}

.breeding h2 {
    margin: 0 0 15px;
}

/* .content-details {
    background-color: lightgray;
    display: grid;
    grid-template-rows: 1fr 1fr;
    border: 1px solid black;
    height: 100vh;
    width: 100vw;
    padding: 1rem;
    
}

header {
    background-color: lightgreen;
    border: 1px solid black;
    
}

main {
    background-color: lightyellow;
    border: 1px solid black;
    border-radius: 1rem 1rem 1rem 1rem;
} */