
* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
 }

 body {
  margin: 0;
  padding: 0;
  background-color: #e6e7eb;}

.content {
  height: 100vh;
  width: 100vw;
  padding: 1rem;
  background-color: #aaa8a8;
 
}

@media screen and (min-width: 375px) {
  .content {
    max-width: 992px;
    height: auto;
    margin: 1rem auto;
    border-radius: 1rem;
  }
}

